;String modImg = .ModImg();
;String url = .URL()
;String modHtmlPrefix = .ModHtmlPrefix()

<div class="row-fluid synt-header">
    <div class="span5 synt-main-logo">
        <img alt="gears" src="`modImg`images/gears.png" style="margin: 4px;" width="34" height="27">
        <span style="padding-left:18px;">
            <a style="vertical-align:middle" href="`url + '?func=' + .fArgs.func`">
            `$DataManager.AboutDataManager.GetHeaderString()`
            </a>
        </span>
    </div>
    <div class="span7 syntergy-logo"><img alt="syntergy-logo"
                                          src="`modImg`images/synlogo-whispy.png" width="294" height="36"></div>
</div>