;String modImg = .ModImg();
;String url = .URL()
;String modHtmlPrefix = .ModHtmlPrefix()
;Object allowPkg = $DataManager.AllowPkg
;Object    prgCtx = .fPrgCtx

<div class="synt-sidebar">
    <div class="container-fluid" style="padding-left: 2px;padding-right: 2px">
        <div class="row-fluid"><a class="nav-header">LOADER</a>
            <ul id="BULKLOADER" class="nav nav-list">
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_SYNC)
                <li id="bl-loadfilestructure"><a href="#bl/loadfilestructure">Load File Structure</a></li>
                <li id="bl-loadcsv"><a href="#bl/loadcsv">Load from CSV</a></li>
                <!--li id="bl-generatecsv"><a href="#bl/generatecsv">Generate CSV From File Structure</a></li-->
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_USERS)
                <li id="bl-loadusers"><a href="#bl/loadusers">Load Users/Groups</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_MNG_PATHS)
                <li id="bl-manageloadpaths"><a href="#bl/manageloadpaths">Manage Load Paths</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_MNG_PROF)
                <li id="bl-manageprofiles"><a href="#bl/manageprofiles">Manage Load Profiles</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_MNG_PRIVS)
                <li id="bl-manageprivileges"><a href="#bl/manageprivileges">Manage Load Privileges</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_MNG_JOBS)
                <li id="bl-manageloadjobs"><a href="#bl/manageloadjobs">Manage Async Load Jobs</a></li>
                ;end
                <!-- li id="bl-settings"><a href="#bl/settings">Settings</a></li-->
                <!-- li id="bl-faq"><a href="#bl/faq">Faq</a></li-->
                <!-- li id="bl-help"><a href="#bl/help">Help</a></li-->
            </ul>
        </div>
        <div class="row-fluid"><a class="nav-header">EXPORTER</a>
            <ul id="BULKEXPORTER" class="nav nav-list">
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_SYNC)
                <li id="be-exportobjects"><a href="#be/exportobjects">Export Files and Metadata</a></li>
                <li id="be-exportmetadata"><a href="#be/exportmetadata">Export Metadata Only</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_USERS)
                <li id="be-exportusers"><a href="#be/exportusers">Export Users/Groups</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_MNG_PATHS)
                <li id="be-manageexportpaths"><a href="#be/manageexportpaths">Manage Export Paths</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_MNG_PROF)
                <li id="be-manageprofiles"><a href="#be/manageprofiles">Manage Export Profiles</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_MNG_PRIVS)
                <li id="be-manageprivileges"><a href="#be/manageprivileges">Manage Export Privileges</a></li>
                ;end
                ;if allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_MNG_JOBS)
                <li id="be-manageexportjobs"><a href="#be/manageexportjobs">Manage Async Export Jobs</a></li>
                ;end
                <!-- id="be-settings"><a href="#be/settings">Settings</a></li-->
                <!-- id="be-faq"><a href="#be/faq">Faq</a></li-->
                <!-- id="be-help"><a href="#be/help">Help</a></li-->
            </ul>
        </div>
        ;/*
        ;if System.AppVersion() != "9.7.1" && (allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_EXPORT_MNG_JOBS) ||  allowPkg.IsAllowed(prgCtx, allowPkg.fEVENT_LOAD_MNG_JOBS))
        <div class="row-fluid"><a class="nav-header">ADMIN TOOLS</a>
            <ul id="CONTENTSERVER" class="nav nav-list">
                <li id="bt-managedajobs"><a href="#bt/managedajobs">Manage Distributed Agent Tasks</a></li>
                ;if $DataManager.DropoffConverter.HasDropoffs(prgCtx)
                    <li id="bt-convertdropoffs"><a href="#bt/convertdropoffs">Convert BulkLoader Drop-Off Folders</a></li>
                ;end
            </ul>
        </div>
        ;end
        ;*/
        <div class="row-fluid"><a class="nav-header">CONTENT SERVER</a>
            <ul id="CONTENTSERVER" class="nav nav-list">
                ;if .fPrgCtx.fDbConnect.HasSysAdminPerm()
                <li><a href="`url`?func=admin.index">Admin Index</a></li>
                ;end
                <li><a href="`url`" class="content-server">Enterprise Workspace</a></li>
            </ul>
        </div>
    </div>
</div>