<div class="control-group" id="dataToExportControlGroup">
    <label class="control-label">Data Columns To Export</label>

    <input type="hidden" name="hasCols" value="true">

    <div class="controls" id="columnsToExportDiv">
    </div>


    <!--div class="controls">
        <div id="catsToExportDiv">
            <h6 class="myAccordionHeader">Categories to Include</h6>

            <div style="font-size: 10px" id="catsToExportSubDiv">
                <select multiple name="catIds" id="catIds" class="span12" size="10">
                    <option value="0" selected>All Categories Encountered</option>
                </select>
                <span class="help-block"
                      style="font-size: x-small">Select the categories you want to include.</span>
                </div>
            </div>
        </div>
    </div-->
</div>

<div class="control-group" id="optionsControlGroup">
    <label class="control-label">Export Options</label>

    <div class="controls">
        <div id="optionsDiv" style="margin-top:10px">
            <h6 class="myAccordionHeader">Select Options</h6>

            <div style="font-size: 10px" id="optionsSubDiv">

                <div id="objectTypesDiv" class="be_objects be_metadata">
                    <label class="control-label" for="objectTypesAllRadio">Object Types</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="objectTypes" id="objectTypesAllRadio" value="all" checked>
                            All
                        </label>
                        <label class="radio">
                            <input type="radio" name="objectTypes" id="objectTypesFilesRadio" value="files">
                            Files Only
                        </label>
                        <label class="radio">
                            <input type="radio" name="objectTypes" id="objectTypesFolderRadio" value="folders">
                            Non-Files Only (including Folders)
                        </label>
                        <label class="radio">
                            <input type="radio" name="objectTypes" id="objectTypesSpecified" value="specified">
                            Specific Node Types
                        </label>
                        <select multiple name="specNodeTypes" id="specNodeTypes" class="span12" size="10"
                                style="display: none;">
                        </select>
                        <label class="checkbox be_objects be_metadata" for="wantRenditions" style="margin-top:10px">Include
                            Renditions
                            <input type="checkbox" name="wantRenditions" id="wantRenditions" value="true">
                        </label>
                        <label class="checkbox be_objects be_metadata" for="wantAllVersions">Include All Versions
                            <input type="checkbox" name="wantAllVersions" id="wantAllVersions" value="true">
                        </label>
                    </div>
                </div>

                <div id="flatOrHierarchyGroup" class="be_objects">
                    <label class="control-label" for="hierarchyRadio">Structure</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="exportType" id="hierarchyRadio" value="hierarchy" checked>
                            Hierarchy
                        </label>
                        <label class="radio">
                            <input type="radio" name="exportType" id="flatRadio" value="flat">
                            Flat
                        </label>
                    </div>
                </div>

                <div id="numMetadataFilesGroup" class="be_objects">
                    <label class="control-label" for="multipleCSVRadio">Metadata Files</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="numMetadataFiles" id="multipleCSVRadio" value="multiple">
                            Multiple (in each folder of hierarchy)
                        </label>
                        <label class="radio">
                            <input type="radio" name="numMetadataFiles" id="singleCSVRadio" value="single" checked>
                            Single File at root
                        </label>
                    </div>
                </div>

                <div id="numSubLevelsGroup" class="be_objects be_metadata">
                    <label class="control-label" for="allSubLevelsRadio">Sub-Levels</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="numSubLevels" id="allSubLevelsRadio" value="All" checked>
                            All Descendants
                        </label>
                        <label class="radio">
                            <input type="radio" name="numSubLevels" id="1SubLevelRadio" value="1">Only Direct Children
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>