<div class="control-group" id="dataToExportControlGroup">
    <label class="control-label">Metadata To Export</label>

    <div class="controls">

        <div style="margin-bottom: 10px">
            <input type="radio" name="metadataSelection" id="metadataSelection_Groups" value="groups" checked
                   style="margin:0 5px 0 0">
            <label for="metadataSelection_Groups" style="display:inline">Select Groups of Columns</label>
            <input type="radio" name="metadataSelection" id="metadataSelection_Cols" value="columns"
                   style="margin:0 5px">
            <label for="metadataSelection_Cols" style="display:inline">Select Individual Columns</label>
        </div>

        <div id="dataToExportDiv" style="margin-top:10px">
            <h6>Select Metadata Types</h6>

            <div style="font-size: 10px" id="dataToExportSubDiv">
                <label class="checkbox be_objects be_metadata" for="wantBasicData">Basic Node Metadata
                    <input type="checkbox" name="wantBasicData" id="wantBasicData" value="true" checked>
                    <span class="help-inline" style="font-size: xx-small">CreateDate, ModifyDate, CreatedBy, Description, Catalog, Nickname</span>
                </label>

                <label class="checkbox be_objects be_metadata" for="wantCategoryData">Category Data
                    <input type="checkbox" name="wantCategoryData" id="wantCategoryData" value="true" checked>
                </label>

                <label class="checkbox be_objects be_metadata" for="wantSystemAtts">Extended Node Attributes
                    <input type="checkbox" name="wantSystemAtts" id="wantSystemAtts" value="true">
                </label>

                <label class="checkbox be_objects be_metadata" for="wantRMData">RM Data
                    <input type="checkbox" name="wantRMData" id="wantRMData" value="true">
                </label>

                <label class="checkbox be_objects be_metadata" for="wantClassifications">Classifications
                    <input type="checkbox" name="wantClassifications" id="wantClassifications" value="true">
                </label>

                <label class="checkbox be_objects be_metadata" for="wantOwner">Owner & Owner Group names
                    <input type="checkbox" name="wantOwner" id="wantOwner" value="true">
                    <span class="help-inline" style="font-size: xx-small">For changing ownership</span>
                </label>

                <label class="checkbox be_objects be_metadata" for="wantPerms">Permissions
                    <input type="checkbox" name="wantPerms" id="wantPerms" value="true">
                </label>

                <label class="checkbox be_objects be_metadata" for="wantPhysObj">Phys Obj Data
                    <input type="checkbox" name="wantPhysObj" id="wantPhysObj" value="true">
                </label>

                <label class="checkbox be_objects be_metadata" for="wantPhysObjCirc">Phys Obj Circulation Data
                    <input type="checkbox" name="wantPhysObjCirc" id="wantPhysObjCirc" value="true">
                </label>

                <label class="checkbox be_objects be_metadata" for="wantEmails">Email Metadata
                    <input type="checkbox" name="wantEmails" id="wantEmails" value="true">
                </label>
            </div>
        </div>

        <div id="columnsToExportDiv">
            <h6>Select Individual Columns</h6>

            <div style="font-size: 10px" id="columnsToExportSubDiv">
            </div>
        </div>
    </div>
    <div class="controls">
        <div id="catsToExportDiv">
            <h6>Categories to Include</h6>

            <div style="font-size: 10px" id="catsToExportSubDiv">
                <!--label class="control-label" for="catIds">Categories</label-->
                <!--div class="controls" id="catControls"-->
                <select multiple name="catIds" id="catIds" class="span12" size="10">
                    <option value="0" selected>All Categories Encountered</option>
                </select>
                <!--span class="help-block"
                      style="font-size: x-small">Select the categories you want to include.</span-->
                <!--/div-->
            </div>
        </div>
    </div>
</div>

<div class="control-group" id="optionsControlGroup">
    <label class="control-label">Export Options</label>

    <div class="controls">
        <div id="optionsDiv">
            <h6>Select Options</h6>

            <div style="font-size: 10px" id="optionsSubDiv">

                <div id="objectTypesDiv" class="be_objects be_metadata">
                    <label class="control-label" for="objectTypesAllRadio">Object Types</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="objectTypes" id="objectTypesAllRadio" value="all" checked>
                            All
                        </label>
                        <label class="radio">
                            <input type="radio" name="objectTypes" id="objectTypesFilesRadio" value="files">
                            Files Only
                        </label>
                        <label class="radio">
                            <input type="radio" name="objectTypes" id="objectTypesFolderRadio" value="folders">
                            Non-Files Only (including Folders)
                        </label>
                        <label class="radio">
                            <input type="radio" name="objectTypes" id="objectTypesSpecified" value="specified">
                            Specific Node Types
                        </label>
                        <select multiple name="specNodeTypes" id="specNodeTypes" class="span12" size="10"
                                style="display: none;">
                        </select>
                        <label class="checkbox be_objects" for="wantRenditions" style="margin-top:10px">Include
                            Renditions
                            <input type="checkbox" name="wantRenditions" id="wantRenditions" value="true">
                        </label>
                        <label class="checkbox be_objects" for="wantAllVersions">Include All Versions
                            <input type="checkbox" name="wantAllVersions" id="wantAllVersions" value="true">
                        </label>
                    </div>
                </div>

                <div id="flatOrHierarchyGroup" class="be_objects">
                    <label class="control-label" for="hierarchyRadio">Structure</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="exportType" id="hierarchyRadio" value="hierarchy" checked>
                            Hierarchy
                        </label>
                        <label class="radio">
                            <input type="radio" name="exportType" id="flatRadio" value="flat">
                            Flat
                        </label>
                    </div>
                </div>

                <div id="numMetadataFilesGroup" class="be_objects">
                    <label class="control-label" for="multipleCSVRadio">Metadata Files</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="numMetadataFiles" id="multipleCSVRadio" value="multiple">
                            Multiple (in each folder of hierarchy)
                        </label>
                        <label class="radio">
                            <input type="radio" name="numMetadataFiles" id="singleCSVRadio" value="single" checked>
                            Single File at root
                        </label>
                    </div>
                </div>

                <div id="numSubLevelsGroup" class="be_objects be_metadata">
                    <label class="control-label" for="allSubLevelsRadio">Sub-Levels</label>

                    <div class="controls">
                        <label class="radio" style="vertical-align: bottom">
                            <input type="radio" name="numSubLevels" id="allSubLevelsRadio" value="All" checked>
                            All Descendants
                        </label>
                        <label class="radio">
                            <input type="radio" name="numSubLevels" id="1SubLevelRadio" value="1">Only Direct Children
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>