<span class="help-block" style="font-size: x-small">Required fields labeled in <b>bold</b>. {{help_block}}</span>
<div class="row-fluid">
    <div class="span6 form-container">
        <form class="form-horizontal" id="myform">
            {{> page_content1}}
            {{> page_content2}}
            <div class="control-group" id="action_buttons_div">
                <!--label class="control-label" for="action_controls">Action:</label-->
                <div class="controls" id="action_controls">
                    {{#each action_buttons}}
                        <button id="{{id}}" class="{{className}}">{{label}}</button>
                    {{/each}}
                    <span class="help-block" style="font-size: x-small">Action Buttons are enabled when you have set values for all required inputs.</span>
                </div>
            </div>
        </form>
    </div>
    <div class="span6">
        <form class="form-horizontal" id="myform_adv" name="myform_adv">
            {{> page_content3}}
        </form>
    </div>
</div>

