<div>
    <div id="treeDiv_select" style="max-height:200px; overflow-y:auto; margin-top: 20px">

    </div>
    <div class="ui-widget-header" style="margin-top: 15px; max-height: 1px;"></div>
    <div class="control-group" style="text-align: right">
        <div id="action_controls" class="controls">
            <button class="btn btn-primary btn-small" id="selectButton" disabled>Select
            </button>
        </div>
    </div>
</div>

