<div class="row-fluid" id="tree_grid_target">
    <div class="span6">
        <div class="synt-generic-container" style="margin-bottom: 10px">
            <h4 class="page_title">{{page_title}}</h4>
            {{> form_template}}
        </div>
    </div>
    <div class="span6 synt-generic-container">
        <h5 class="upper" style="border-bottom: 1px solid #e5e5e5">{{target_label}}</h5>

        <div id="targetDiv">
        </div>
    </div>
</div>

<div id="gridPopupDiv" style="display: none">
    <h5 class="upper" style="border-bottom: 1px solid #e5e5e5">{{grid_label}}</h5>

    <div id="grid_div">
        <table class="display" id="grid">
        </table>
    </div>
</div>




