<div class="row-fluid">
    <div class="span12 form-container">
        <form class="form-horizontal" id="{{form_id}}" name="{{form_name}}">
            {{> page_content1}}
        </form>
    </div>
</div>
