<div class="row-fluid">
    <div class="synt-generic-container" style="margin-bottom: 10px">
        <h4 class="page_title">{{page_title}}</h4>
        {{> generatecsv_form_template}}
    </div>

    <div class="synt-generic-container" id="grid_div">
        <h5 class="upper" style="border-bottom: 1px solid #e5e5e5">{{grid_label}}</h5>
        <div style="padding: 20px">
            <table class="display" id="grid" width="100%">
            </table>
        </div>
    </div>
</div>
