<div class="synt-generic-container span12" style="margin-bottom: 10px">
    <h4 class="page_title">{{page_title}}</h4>
    <span class="help-block">{{help_block}}</span>
    <div id="grid_div">
        <label for="grid" class="control-label">{{grid_label}}</label>
        <table class="display" id="grid" style="width: 100%">
        </table>
    </div>
</div>



