<div class="row-fluid">
    <div class="synt-generic-container" style="margin-bottom: 10px">
        <h4 class="page_title">{{page_title}}</h4>
    <!--/div-->

    <!--div class="synt-generic-container" id="grid_div"-->
        <!--h5 class="upper" style="border-bottom: 1px solid #e5e5e5">{{grid_label}}</h5-->
        <div style="padding: 20px">
            <table class="display" id="grid" style="width: 100%">
            </table>
        </div>
    <!--/div-->

    <!--div class="synt-generic-container" style="margin-bottom: 10px"-->
        <div class="control-group" id="action_buttons_div">
            <!--label class="control-label" for="action_controls">Action:</label-->
            <div class="controls" id="action_controls">
                {{#each action_buttons}}
                    <button id="{{id}}" class="{{className}}">{{label}}</button>
                {{/each}}
            </div>
        </div>
    </div>

</div>
