<div id="gridPopupDiv" class="synt-generic-container">
    <h5 class="upper" style="border-bottom: 1px solid #e5e5e5">Metadata</h5>
    <div id="grid_div">
        <table class="display" id="grid">
        </table>
    </div>
</div>