<div id="scheduleDiv" class="right-side-accordion">
    <h4>Asynchronous Scheduling</h4>

    <div>
        <input type="hidden" name="scheduleId" id="scheduleId">
        <!--<h5 class="form_section">General Info</h5>-->
        <div class="control-group">
            <label class="control-label label-required" for="jobname">Job Name</label>

            <div class="controls">
                <input class="input-large" name="jobname" id="jobname" type="text" required maxlength="32">
            </div>
        </div>
        <div class="control-group" id="enabledGroup">
            <label class="control-label" for="enabled">Enabled</label>

            <div class="controls">
                <input type="checkbox" name="enabled" id="enabled" value="true" checked>
            </div>
            <div class="controls">
                <span class="help-block"
                      style="font-size: x-small">Uncheck to disable the job without having to delete it.</span>
            </div>
        </div>
        <div class="control-group" id="runAsUserGroup">
            <label class="control-label  label-required" for="runAsUserName">Run As User</label>

            <div class="controls">
                <input class="input-large" name="runAsUserName" id="runAsUserName" type="text" required maxlength="32">
            </div>
            <div class="controls">
                <span class="help-block"
                      style="font-size: x-small">User Login to use when performing the job.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="jobdesc">Job Description</label>

            <div class="controls">
                <input class="input-large" name="jobdesc" id="jobdesc" type="text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="notify_emails">Email Addresses to Notify upon Completion</label>

            <div class="controls">
                <textarea name="notify_emails" id="notify_emails" style="height: 100px; width: 200px;"></textarea>
            </div>
            <div class="controls">
                <span class="help-block" style="font-size: x-small">Separate with commas</span>
            </div>
        </div>
        <div class="control-group" id="markAfterLoadingGroup">
            <label class="control-label" for="markAfterLoading">Mark File(s) After Loading</label>

            <div class="controls">
                <input type="checkbox" name="markAfterLoading" id="markAfterLoading" value="true" checked>
            </div>
            <div class="controls">
                <span class="help-block"
                      style="font-size: x-small">Mark file(s) after loading to prevent repeat loads of the same content</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="schedule_type">Schedule Type</label>

            <div class="controls controls-row">
                <select name="schedule_type" id="schedule_type" class="span6">
                    <option value="1">One time only</option>
                    <option value="2">Recurring</option>
                </select>
            </div>
        </div>

        <fieldset id="oneTimeFieldset">
            <div class="control-group">
                <label class="control-label label-required" for="one_time_date">Run at</label>

                <div class="controls controls-row">
                    <input class="span6" placeholder="YYYY-MM-DD" type="date" name="one_time_date" id="one_time_date"
                           required>
                    <input class="span6" placeholder="HH:MM:SS" type="time" name="one_time_time" id="one_time_time"
                           required>
                </div>
            </div>
        </fieldset>

        <fieldset id="recurringFieldset">
            <!--<h5 class="form_section">Frequency</h5>-->
            <hr>

            <div class="control-group">
                <label class="control-label" for="day_pattern">Daily Pattern</label>

                <div class="controls">

                    <select name="day_pattern" id="day_pattern">
                        <option value="1">Every X Days</option>
                        <option value="2">On certain days of week</option>
                    </select>
                </div>
            </div>

            <div class="control-group" id="recursEveryGroup">
                <label class="control-label label-required" for="day_recurrence">Recurs every</label>

                <div class="controls">
                    <input class="input-mini" name="day_recurrence" id="day_recurrence" type="number" required>
                    <span id="increment">days</span>
                </div>
            </div>

            <div class="control-group" id="certainDaysGroup">
                <label class="control-label label-required" for="sunday">Days</label>

                <div class="controls">
                    <label class="checkbox" for="sunday">Sunday
                        <input type="checkbox" name="sunday" id="sunday" value="true">
                    </label>
                    <label class="checkbox" for="monday">Monday
                        <input type="checkbox" name="monday" id="monday" value="true">
                    </label>
                    <label class="checkbox" for="tuesday">Tuesday
                        <input type="checkbox" name="tuesday" id="tuesday" value="true">
                    </label>
                    <label class="checkbox" for="wednesday">Wednesday
                        <input type="checkbox" name="wednesday" id="wednesday" value="true">
                    </label>
                    <label class="checkbox" for="thursday">Thursday
                        <input type="checkbox" name="thursday" id="thursday" value="true">
                    </label>
                    <label class="checkbox" for="friday">Friday
                        <input type="checkbox" name="friday" id="friday" value="true">
                    </label>
                    <label class="checkbox" for="saturday">Saturday
                        <input type="checkbox" name="saturday" id="saturday" value="true">
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="daily_frequency">Occurs</label>

                <div class="controls">
                    <select name="daily_frequency" id="daily_frequency">
                        <option value="1">At specific times during the day</option>
                        <option value="2">At regular intervals during the day</option>
                    </select>
                </div>
            </div>

            <div class="control-group" id="DailyAtGroup">
                <label class="control-label label-required" for="daily_at_time_1">At these Times</label>
                <input type="hidden" name="daily_at_times_count" id="daily_at_times_count" value="1">

                <div class="controls">
                    <div id="daily_at_time_div_1" class="daily_at_time_div">
                        <input class="span4" placeholder="HH:MM:SS" type="time" name="daily_at_time_1" id="daily_at_time_1" required>
                        <button class="btn btn-mini btn_remove_time" id="btn_remove_time_1"><i class="icon-minus" title="Remove this Time" style="margin-top:0; padding:2px;"></i></button>
                        <button class="btn btn-mini btn_add_time" id="btn_add_time_1"><i class="icon-plus" title="Add New Time" style="margin-top:0; padding:2px;"></i></button>
                    </div>
                </div>

            </div>


            <div class="control-group" id="DailyEveryXGroup">
                <label class="control-label" for="daily_every">Every</label>

                <div class="controls">
                    <div class="input-append">
                        <input class="input-mini" type="number" name="daily_every" id="daily_every">
                        <select name="daily_every_unit" id="daily_every_unit" class="input-small">
                            <option value="1">Hours</option>
                            <option value="2">Minutes</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset id="windowFieldset">
            <hr>
            <div class="control-group">
                <label class="control-label" for="start_time">Time Window</label>

                <div class="controls controls-row">
                    <input class="span4" placeholder="HH:MM:SS" type="time" name="start_time" id="start_time"
                           style="width: 43%">

                    <div class="span1" style="padding-top: 8px;padding-left: 1px; width:15px">to</div>
                    <input class="span4" placeholder="HH:MM:SS" type="time" name="end_time" id="end_time"
                           style="width: 43%">
                </div>
                <div class="controls">
                    <span class="help-block" style="font-size: x-small">Run only between certain times of the day. Useful for suspending long running jobs at certain times of day. Both fields optional.</span>
                </div>
            </div>
        </fieldset>
    </div>
</div>


