<div id="pushDownTableDiv" style="display:none">
    <table id="pushDownTable">
        <thead>
        <tr>
            <th>{{colName}}</th>
        </tr>
        </thead>
        <tr id="pushDownRow" class="odd DTTT_selected">
            <td class="center"></td>
        </tr>
    </table>
</div>

