/*
 * Override styles needed due to the mix of three different CSS sources! For proper examples
 * please see the themes example in the 'Examples' section of this site
 */
.dataTables_info {
    padding-top: 0;
}

.dataTables_paginate {
    padding-top: 0;
}

.css_right {
    float: right;
}

#example_wrapper .fg-toolbar {
    font-size: 0.8em
}

#theme_links span {
    float: left;
    padding: 2px 10px;
}

.form-horizontal .control-label {
    /* here are the styles in bootstrap.css
      float: left;
      width: 160px;
      padding-top: 10px;
      text-align: right;
    */
    /*overrides here*/
    font-size: 11px;
    padding-top: 12px;
    width: 100px;
}

.form-horizontal .control-group {
    /* here are the styles in bootstrap.css
    margin-bottom: 20px;
    */
    margin-bottom: 2px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    /* bootstrap styles
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
    */
    /* overrides */
    background-color: #005580;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

hr {
    /* bootstrap styles
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
    */
    margin: 5px 0 !important;
}

/* ****************** form styles *************** */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    /* bootstrap styles
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
   */
    /* overrides here */
    margin-bottom: 2px !important;
    height: auto;
}

.form-horizontal .controls {
    /* bootstrap styles
        margin-left: 180px;
    */
    margin-top: 4px;
    margin-left: 130px !important;
}

#action_controls {
    margin-top: 10px;
}

#action_buttons_div {
    /*
    border-top: 1px solid $syntergyLightGray;
    @include border-radius($borderRadius);
    @include linearGradient(white, $syntergyLightGray);*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.input-xxlarge {
    /* bootstrap style
    width: 530px;/*

    /*overrides*/
    width: 450px;
}

label,
input,
select,
textarea {
    /* bootstrap styles
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    */
    /* overrides here */
    font-size: 11px !important;
    font-weight: normal;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu {
    /* bootstrap styles
      font-size: 14px;
    */
    /* overrides here */
    font-size: 11px;
}

.radio.inline, .checkbox.inline {
    /* bootstrap styles
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  */
    /* overrides here*/
}

h6 {
    font-size: 11px !important;
}

table.display thead th div.DataTables_sort_wrapper {
    /* data table style
    position: relative;
    padding-right: 20px;
    */

    padding-right: 12px !important;
}

table.display.td {
    /*white-space: nowrap !important;*/
}

.DTTT_button embed {
    width: 0;
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: .25em;
}
