<div id="loadPathDiv">
    <form class="form-horizontal">
        <div class="control-group" id="loadPathControlGroup">
            <label class="control-label" for="startPath">Select Root Load Folder</label>

            <div class="controls">
                <select name="startPath" id="startPath" class="input-xlarge">
                    <!--option value=""></option-->
                </select>
                <!--span class="help-block"
                      style="font-size: x-small">A system administrator sets up these load paths in another page.</span>
                </div-->
            </div>
        </div>
        <div class="control-group" id="selectLoadDirDiv">
            <label class="control-label">{{help_block}}</label>

            <div class="controls">
                <div id="treeDiv_select" style="max-height:200px; overflow-y:auto;">
                </div>
            </div>
        </div>
        <div class="ui-widget-header" style="margin-top: 15px; max-height: 1px;"></div>
        <div class="control-group" style="text-align: right">
            <div id="action_controls" class="controls">
                <button class="btn btn-primary btn-small" id="selectButton" disabled>Select
                </button>
            </div>
        </div>
    </form>
</div>

