<input type="hidden" name="jobType" id="jobType" value="load">
<input type="hidden" name="jobSubtype" id="jobSubtype" value="generatecsv">
<input type="hidden" name="sourceOption" id="serverSource" value="server">

<div id="switchSource">
    <div class="control-group" id="serverSelect">
        <div class="control-group" id="rootSourcePathControlGroup">
            <label class="control-label label-required" for="rootSourcePath" id="rootSourcePathLabel">Select a Source Folder</label>

            <div class="controls">
                <div class="input-append">
                    <input class="input-xlarge" name="rootSourcePath" id="rootSourcePath" type="text"
                           readonly="readonly"
                           required>
                    <button class="btn" type="button" id="selectSourcePathButton">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>







