<div id="advancedDiv" class="right-side-accordion" style="margin-top:10px">
  <h6 class="myAccordionHeader">Advanced Settings</h6>

  <div class="advanced_settings">
    <label class="checkbox bl_structure bl_create bl_addversion" for="defaultFileExtension">Default File Extension
      <input type="text" class="input-small" id="defaultFileExtension" name="defaultFileExtension" value="pdf"/>
      <span
        class="help-block">Default file type extension for files having no file type extension (e.g. doc, pdf, tif).</span>
    </label>

    <label
      class="checkbox bl_structure bl_create bl_delete bl_purge bl_move bl_copy bl_addversion bl_update bl_rename bl_updateperms bl_users"
      for="auditFolderPath">Error Folder Path
      <input type="text" class="input-xlarge" id="auditFolderPath" name="auditFolderPath" value=""/>
      <span class="help-block">Create csv audit files to this folder path. If the path is Invalid or blank, errors will be logged to a folder called "_audit" sub-folder beneath the load directory.</span>
    </label>

    <label class="checkbox bl_delete bl_purge bl_move bl_copy bl_update bl_rename bl_updateperms bl_users"
           for="ensureCsvOrder">Ensure in-order processing of CSV rows
      <input type="checkbox" name="ensureCsvOrder" id="ensureCsvOrder" value="true">
      <span class="help-block">By default, Data Manager processes CSV rows in a multi-threaded fashion (for the sake of speed). Check this checkbox to process the rows single-threaded to ensure in-order processing.</span>
    </label>

    <label class="radio bl_create bl_addversion" for="rootFileLoc">Location of Files
      <select name="rootFileLoc" id="rootFileLoc" class="input-xlarge">
        <option value="csvpath">Relative to CSV location</option>
        <option value="absolute">Absolute $SourcePath in CSV</option>
      </select>
    </label>

    <!--label class="checkbox bl_update" for="doDeltaLogs">Generate Delta Processing Logs
        <input type="checkbox" id="doDeltaLogs" name="doDeltaLogs" value="true" />
        <span class="help-block">Generate logs to show before and after CSV snapshots of metadata. Note: this will slow down performance significantly.</span>
    </label-->

    <label for="requireMetadata" class="checkbox bl_structure">Require Metadata CSV Entry
      <input type="checkbox" name="requireMetadata" id="requireMetadata" value="true">
      <span class="help-block">Require a CSV metadata entry for each file and folder.</span>
    </label>

    <label for="inheritParent" class="checkbox bl_structure bl_create">Inherit Parent Category and RM Data
      <input type="checkbox" name="inheritParent" id="inheritParent" value="true" checked>
      <span class="help-block">Inherit category and RM data from parent container (default behavior). Use this setting if you have incomplete category and RM data in your CSV and don't want to overwrite inherited data with blank values.
            </span>
    </label>

    <label for="autoCreateFolders" class="checkbox bl_create bl_addversion bl_move bl_copy">Auto Create Containers from
      $TargetPath
      <input type="checkbox" name="autoCreateFolders" id="autoCreateFolders" value="true" checked>
      <span class="help-block">Create containers as required when elements in $TargetPath do not exist.</span>
      <label class="radio bl_structure bl_create">Container Type to Create
        <select name="containerType" id="containerType" class="input-xlarge">
          <option value="0">Folder</option>
          <option value="751">Email Folder</option>
          <span class="help-block">Container type to create with Auto Create setting.</span>
        </select>
      </label>
    </label>

    <label for="checkRootPath" class="checkbox bl_create bl_addversion bl_move bl_copy">Check Root Element of
      $TargetPath
      <input type="checkbox" name="checkRootPath" id="checkRootPath" value="true" checked>
      <span class="help-block">Check root element of $TargetPath and return an error if it does not exist.</span>
    </label>

    <!-- TODO:  Add support for this label for="autoCreateCD" class="checkbox bl_create bl_addversion">Auto Create Compound Documents
        <input type="checkbox" name="autoCreateCD" id="autoCreateCD" value="true">
        <span class="help-block">Create compound documents as required when elements with ".CD" suffix in $TargetPath do not exist.</span>
    </label-->

    <label for="useFileCreateDate" class="checkbox bl_structure bl_create">Use file's create date
      <input type="checkbox" name="useFileCreateDate" id="useFileCreateDate" value="true">
      <span class="help-block">Use file's create date as the create and modified date when creating documents</span>
    </label>

    <label for="useFileModifyDate" class="checkbox bl_structure bl_create">Use file's modified date
      <input type="checkbox" name="useFileModifyDate" id="useFileModifyDate" value="true">
      <span
        class="help-block">Use file's last modified date as the create and modified date when creating documents</span>
    </label>

    <label for="removeImportedFiles" class="checkbox bl_structure bl_create bl_addversion">Delete Files After Importing
        <input type="checkbox" name="removeImportedFiles" id="removeImportedFiles" value="true">
      <span class="help-block">Delete files in Load Directory after importing. <b>Be very careful with this! You may not be able to recover the files once deleted.</b></span>
        <!--input type="text" class="input-xlarge" id="fileRemovalPath" name="fileRemovalPath" value=""/-->
    </label>

    <label for="archiveImportedFiles" class="checkbox bl_structure bl_create bl_addversion">Archive Files After
      Importing
      <input type="checkbox" name="archiveImportedFiles" id="archiveImportedFiles" value="true">
      <span class="help-block">Move loaded files to another location after importing.</span>
      <input type="text" class="input-xlarge" id="fileArchivePath" name="fileArchivePath" value=""/>
    </label>

    <label for="archiveCsvFiles" class="checkbox bl_create bl_delete bl_purge bl_move bl_copy bl_addversion bl_update bl_rename bl_updateperms bl_users">Archive Metadata CSV Files After
      Importing
      <input type="checkbox" name="archiveCsvFiles" id="archiveCsvFiles" value="true">
      <span class="help-block">Move processed metadata csv files to another location after importing (Leave input below blank to move to _audit folder).</span>
      <input type="text" class="input-xlarge" id="csvArchivePath" name="csvArchivePath" value="" placeholder="_audit"/>
    </label>

    <!--label class="radio bl_create bl_addversion">
        <input type="radio" name="sourcePathType" id="sourcePathIsFile"
               value="file" checked>
        $SourcePath refers to the file's location
        <span class="help-block">Example: $SourcePath="Docs/MyFolder/mydoc.doc."  $FileName value will be ignored.</span>
    </label>
    <label class="radio bl_create bl_addversion">
        <input type="radio" name="sourcePathType" id="sourcePathIsParent"
               value="parent">
        $SourcePath refers to the parent's location
        <span class="help-block">Example: $SourcePath= "Docs/MyFolder/" and "$FileName"= "mydoc.doc."  $FileName is required.</span>
    </label-->

    <!--label class="radio bl_create bl_addversion bl_move bl_copy bl_updateperms bl_update bl_rename">
        <input type="radio" name="targetPathType" id="targetPathIsObject"
               value="object" checked>
        $TargetPath refers to the object's location
        <span class="help-block">Example: A $TargetPath of ":Enterprise:MyFolder" will create or update the "MyFolder" object.  $ObjectName value will be ignored.</span>
    </label>
    <label class="radio bl_create bl_addversion bl_move bl_copy bl_updateperms bl_update bl_rename">
        <input type="radio" name="targetPathType" id="targetPathIsParent"
               value="parent">
        $TargetPath refers to the parent's location
        <span class="help-block">Example: A $TargetPath of ":Enterprise:MyFolder" and $ObjectName of "Docs" will create or update the "Docs" object.  $ObjectName is required.</span>
    </label-->

    <label for="rmClassInherit" class="checkbox bl_move bl_copy">Inherit RM Classification for moved or copied
      objects
      <input type="checkbox" name="rmClassInherit" id="rmClassInherit" value="true">
      <span class="help-block">Inherit the Target Folder's RM Classification for each moved or copied object</span>
    </label>

    <label for="forcePermInherit" class="checkbox bl_move bl_copy">Force Permission Inheritance for moved or copied
      objects
      <input type="checkbox" name="forcePermInherit" id="forcePermInherit" value="true">
      <span class="help-block">Inherit the Target Folder's Permission for each moved or copied object. Leave unchecked if you don't want permissions to change.</span>
    </label>

    <label class="bl_move bl_copy">Attribute source for moved or copied objects
      <select name="attrSourceType" id="attrSourceType">
        <option value="1">Destination Node</option>
        <option value="0">Source Node</option>
        <option value="2">Merged</option>
      </select>
    </label>
  </div>
</div>