<input type="hidden" name="jobType" id="jobType" value="load">
<input type="hidden" name="jobSubtype" id="jobSubtype" value="loadcsv">
<input type="hidden" name="sourceOption" id="serverSource" value="server">

<!--div class="control-group" id="csvSourceDiv">
    <label class="control-label" for="serverSource">CSV Location</label>

    <div class="controls">
        <label class="radio inline" style="vertical-align: bottom">
            <input type="radio" name="sourceOption" id="serverSource" value="server" checked>
            Server
        </label>
        <label class="radio inline">
            <input type="radio" name="sourceOption" id="desktopSource" value="desktop">
            Desktop
        </label>
    </div>
</div-->
<div id="switchSource">
    <div class="control-group" id="serverSelect">
        <div class="control-group" id="rootSourcePathControlGroup">
            <label class="control-label label-required" for="rootSourcePath" id="rootSourcePathLabel">Select a CSV
                File</label>

            <div class="controls">
                <div class="input-append">
                    <input class="input-xlarge" name="rootSourcePath" id="rootSourcePath" type="text"
                           readonly="readonly"
                           required>
                    <button class="btn" type="button" id="selectSourcePathButton">Select</button>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group" id="desktopSelect" style="display: none">
        <label class="control-label" for="myfile">Select File from Desktop:</label>

        <div class="controls">
            <input type="file" id="myfile" name="myfile" required>
        </div>
    </div>
</div>

<div class="control-group" id="rootTargetPathControlGroup">
    <label class="control-label" for="rootTargetPath">Target Container:</label>

    <div class="controls">
        <div class="input-append">
            <input class="span12" name="rootTargetPath" id="rootTargetPath" type="text" required>
            <button class="btn" type="button" id="selectTargetPathButton">Select
            </button>
        </div>
        <span class="help-block" style="font-size: x-small">Optional: Select a root target to allow for a relative path (no leading colon e.g. "Folder A:MyFolder") in the CSV file.</span>
    </div>
</div>

<div class="control-group" id="targetPathSettingControlGroup">
    <label class="control-label" for="targetPathIsObject">$TargetPath Meaning:</label>

    <div class="controls roundedGrayBorder">
        <label class="radio">
            <input type="radio" name="targetPathType" id="targetPathIsObject"
                   value="object" checked>$TargetPath refers to the object's location
            <span class="help-block" style="font-size: x-small">A $TargetPath of ":Enterprise:MyFolder:MyDoc.pdf" will create or update the "MyDoc.pdf" object. $ObjectName is ignored.</span>
        </label>
        <label class="radio">
            <input type="radio" name="targetPathType" id="targetPathIsParent"
                   value="parent">$TargetPath refers to the parent's location
            <span class="help-block" style="font-size: x-small;">A $TargetPath of ":Enterprise:MyFolder" and $ObjectName of "MyDoc.pdf" will create or update the "MyDoc.pdf" object. $ObjectName is required.</span>
        </label>
    </div>
</div>

<div class="control-group" id="actionControlGroup">
    <label class="control-label label-required" for="action">Operation
        <!--span class="help-block" style="font-size: xx-small">Operation to perform for each row in the CSV</span-->
    </label>

    <div class="controls">
        <select name="action" id="action" class="input-xlarge">
            <option value="dynamic">Dynamic</option>
            <option value="create">Create Objects</option>
            <option value="addversion">Add Versions</option>
            <option value="move">Move Objects</option>
            <option value="copy">Copy Objects</option>
            <option value="update">Update Objects</option>
            <!--option value="perms">Update Permissions</option-->
            <option value="purge">Purge Versions</option>
            <option value="delete">Delete Objects</option>
        </select>
    </div>
</div>

<!--div class="control-group" id="setPermsControlGroup" style="display: none">
    <label class="control-label">Permissions</label>

    <div class="controls">
        <label for="setPerms" class="checkbox" style="vertical-align: bottom">
            <input type="checkbox" name="setPerms" id="setPerms" value="true">Set permissions from $Permissions Column
        </label>
    </div>
</div>

<div class="control-group" id="addVersionControlGroup">
    <label class="control-label">Add Version Options</label>

    <div class="controls">
        <label for="addVerCats" class="checkbox" style="vertical-align: bottom">
            <input type="checkbox" name="addVerCats" id="addVerCats" value="true">Update Categories
        </label>
        <span class="help-block"
              style="font-size: x-small">Update category data on new version with data from CSV</span>
    </div>
</div-->
<div class="control-group" id="copyOptionsControlGroup" style="display: none">
    <label class="control-label">Copy Options</label>
    <div class="controls">
        <div id="copyOptionsDiv" style="margin-top:10px">
            <h6 class="myAccordionHeader">Options</h6>

            <div style="font-size: 10px" id="copyOptionsSubDiv">
                <label id="actionCopyCurrentVLabel" for="actionCopyCurrentV" class="checkbox"
                       style="vertical-align: bottom">
                    <input type="checkbox" name="actionCopyCurrentV" id="actionCopyCurrentV" value="true">Copy Current
                    Version Only
                </label>
            </div>
        </div>
    </div>
</div>

<div class="control-group" id="actionOptionsControlGroup" style="display: none">
    <label class="control-label" id="actionsHeading">Actions</label>

    <div class="controls">
        <div id="actionOptionsDiv" style="margin-top:10px">
            <h6 class="myAccordionHeader">Actions</h6>
            <div style="font-size: 10px" id="actionOptionsSubDiv">
                <!--label id="actionPurgeLabel" for="actionPurge" class="checkbox" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPurge" id="actionPurge" value="true">Purge Versions
                </label-->
                <label id="actionRenameLabel" for="actionRename" class="checkbox actionRenameLabel" style="vertical-align: bottom">
                    <input type="checkbox" name="actionRename" id="actionRename" value="true">Rename
                    <span class="help-inline actionRenameLabel" style="font-size: xx-small">(Requires $NewName column)</span>
                </label>
                <label id="actionMetadataLabel" for="actionMetadata" class="checkbox" style="vertical-align: bottom">
                    <input type="checkbox" name="actionMetadata" id="actionMetadata" value="true">Update Metadata
                </label>
                <label id="actionPermsLabel" for="actionPerms" class="checkbox" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPerms" id="actionPerms" value="true">Update Permissions
                </label>

                <label id="actionPoCircLabel" for="actionPoCirc" class="checkbox otpo" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPoCirc" id="actionPoCirc" value="true">Phys Obj Charge In/Charge Out
                </label>
                <label id="actionPoBoxLabel" for="actionPoBox" class="checkbox otpo" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPoBox" id="actionPoBox" value="true">Phys Obj Assign/Remove From Box
                </label>
                <label id="actionPoLocatorLabel" for="actionPoLocator" class="checkbox otpo" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPoLocator" id="actionPoLocator" value="true">Phys Obj Assign Locator
                </label>
                <label id="actionPoXFerLabel" for="actionPoXFer" class="checkbox otpo" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPoXFer" id="actionPoXFer" value="true">Phys Obj Assign Transfer
                </label>
                <label id="actionPoLabelLabel" for="actionPoLabel" class="checkbox otpo" style="vertical-align: bottom">
                    <input type="checkbox" name="actionPoLabel" id="actionPoLabel" value="true">Phys Obj Generate Label
                </label>

                <span class="help-block" style="font-size: x-small">Note: CSV columns determine available options.</span>
            </div>
        </div>

    </div>
</div>


<div class="control-group" id="metadataOptionsControlGroup" style="display: none">
    <label class="control-label" id="metadataHeading">Metadata</label>

    <div class="controls">
        <div id="metadataOptionsDiv" style="margin-top:10px">
            <h6 class="myAccordionHeader">Metadata</h6>

            <div style="font-size: 10px" id="updateOptionsSubDiv">
                <label id="mdDapiLabel" for="mdDapi" class="checkbox" style="vertical-align: bottom">
                    <input type="checkbox" name="mdDapi" id="mdDapi" value="true">Basic Node Data
                    <span id="mdDapiHelp" style="font-size: xx-small">(CreateDate, ModifyDate, CreatedBy, Description, Catalog, Nickname)</span>
                </label>
                <label id="mdEmailLabel" for="mdEmail" class="checkbox otemail" style="vertical-align: bottom">
                    <input type="checkbox" name="mdEmail" id="mdEmail" value="true">Email Fields
                    <span id="mdDapiHelp" style="font-size: xx-small">(Subject, To, From, CC, BCC, etc.)</span>
                </label>
                <label id="mdSysAttrsLabel" for="mdSysAttrs" class="checkbox" style="vertical-align: bottom">
                    <input type="checkbox" name="mdSysAttrs" id="mdSysAttrs" value="true">System Attributes
                </label>
                <label id="mdOwnerLabel" for="mdOwner" class="checkbox" style="vertical-align: bottom">
                    <input type="checkbox" name="mdOwner" id="mdOwner" value="true">Owner & Owner Group
                </label>
                <label id="mdCatsLabel" for="mdCats" class="checkbox"
                       style="vertical-align: bottom">
                    <input type="checkbox" name="mdCats" id="mdCats" value="true">Categories
                </label>
                <label id="mdClassLabel" for="mdClass" class="checkbox"
                       style="vertical-align: bottom">
                    <input type="checkbox" name="mdClass" id="mdClass" value="true">Classifications
                </label>
                <label id="mdRmLabel" for="mdRm" class="checkbox otrecman" style="vertical-align: bottom">
                    <input type="checkbox" name="mdRm" id="mdRm" value="true">Records Management Data
                </label>
                <label id="mdPoLabel" for="mdPo" class="checkbox otpo" style="vertical-align: bottom">
                    <input type="checkbox" name="mdPo" id="mdPo" value="true">Phys Obj Specific Tab Properties
                </label>
                <span class="help-block" style="font-size: x-small">Note: CSV columns determine available options.</span>
            </div>
        </div>

    </div>
</div>






