<fieldset id="nameCollisionFieldset">
    <div class="control-group" id="docHandlingGroup">
        <label class="control-label">Name Collisions:</label>

        <div class="controls">
            <div id="nameCollisonDiv" style="margin-top:10px">
                <h6 class="myAccordionHeader">Options</h6>

                <div style="font-size: 10px">
                    <h6 class="myAccordionHeader">If Existing Documents have the Same Name</h6>
                    <label class="radio docUpdateOption">
                        <input type="radio" name="docOption" id="docOptionUpdate" value="update" checked>
                        <label class="inline" style="font-size: 11px" for="docOptionUpdate">Update the existing document</label>
                    </label>
                    <div id="docOptionsDiv" style="margin-left:50px">
                        <div style="font-size: 10px" id="docOptionsSubDiv">
                            <label id="docOptionAddVersionLabel" for="docOptionAddVersion" class="checkbox docUpdateLabel"
                                                               style="vertical-align: bottom">
                                <input type="checkbox" name="docOptionAddVersion" id="docOptionAddVersion" value="true" checked class="docUpdateCheckbox">
                                <label class="inline" style="font-size: 11px" for="docOptionAddVersion">Add version</label>
                            </label>
                            <label id="docOptionAddVersionIfNewerLabel" for="docOptionAddVersionIfNewer" class="checkbox docUpdateLabel"
                                                                                           style="vertical-align: bottom">
                                <input type="checkbox" name="docOptionAddVersionIfNewer" id="docOptionAddVersionIfNewer" value="true" class="docUpdateCheckbox">
                                <label class="inline" style="font-size: 11px" for="docOptionAddVersionIfNewer">Add version only if source file date is newer than current version</label>
                            </label>
                            <label id="docOptionUpdateMdLabel" for="docOptionUpdateMd" class="checkbox docUpdateLabel"
                                   style="vertical-align: bottom">
                                <input type="checkbox" name="docOptionUpdateMd" id="docOptionUpdateMd" value="true" checked class="docUpdateCheckbox">Update All
                                Metadata from CSV
                            </label>
                            <label id="docOptionRenameLabel" for="docOptionRename" class="checkbox docUpdateLabel"
                                   style="vertical-align: bottom">
                                <input type="checkbox" name="docOptionRename" id="docOptionRename" value="true" class="docUpdateCheckbox">Rename
                                <span class="help-inline" style="font-size: xx-small">(Requires $NewName column)</span>
                            </label>
                        </div>
                    </div>
                    <label class="radio">
                        <input type="radio" name="docOption" id="docOptionAppendNum" value="makeUnique">
                        <label class="inline" style="font-size: 11px" for="docOptionAppendNum">Append a unique integer to the
                            end of the name--e.g. MyDoc_1</label>
                    </label>
                    <label class="radio">
                        <input type="radio" name="docOption" id="docOptionReportErrors" value="reportErrors">
                        <label class="inline" style="font-size: 11px" for="docOptionReportErrors">Do nothing (Name conflict errors will be reported)</label>
                    </label>


                    <div id="containerOptionDiv" style="display: none">
                        <h6 class="myAccordionHeader">If Existing Containers have the same Name</h6>
                        <label class="radio">
                            <input type="radio" name="containerOption" id="containerOptionUpdate" value="update" checked>
                            <label class="inline" style="font-size: 11px" for="containerOptionUpdate">Update the existing container<span class="help-inline" style="font-size: xx-small">(Required with Auto-Create Folders Option)</span></label>
                        </label>
                        <div id="containerOptionsDiv" style="margin-left:50px">
                            <div style="font-size: 10px" id="containerOptionsSubDiv">
                                <label id="containerOptionUpdateMdLabel" for="containerOptionUpdateMd" class="checkbox containerUpdateLabel"
                                       style="vertical-align: bottom">
                                    <input type="checkbox" name="containerOptionUpdateMd" id="containerOptionUpdateMd" value="true" checked class="containerUpdateCheckbox">Update All
                                    Metadata from CSV
                                </label>
                                <label id="containerOptionRenameLabel" for="containerOptionRename" class="checkbox containerUpdateLabel"
                                       style="vertical-align: bottom">
                                    <input type="checkbox" name="containerOptionRename" id="containerOptionRename" value="true" class="containerUpdateCheckbox">Rename
                                    <span class="help-inline" style="font-size: xx-small">(Requires $NewName column)</span>
                                </label>
                            </div>
                        </div>
                        <label class="radio">
                            <input type="radio" name="containerOption" id="containerOptionAppendNum" value="makeUnique">
                            <label class="inline" style="font-size: 11px" for="containerOptionAppendNum">Append a unique
                                integer to the end of the name--e.g. MyFolder_1</label>
                        </label>
                        <label class="radio">
                            <input type="radio" name="containerOption" id="containerOptionReportErrors" value="reportErrors">
                            <label class="inline" style="font-size: 11px" for="containerOptionReportErrors">Do nothing (Name conflict errors will be reported)</label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


</fieldset>