<div class="control-group">
    <label class="control-label" for="myfile">TBD:</label>

    <div class="controls">
        <div class="input-append">
            <input class="input-xlarge" type="text" id="myfile" name="myfile"
                   value="C:\ImportExport\MyDocs\metadata.csv">
            <button style="display:none" class="btn btn-primary" type="button" id="openButton">Open</button>
        </div>
    </div>
</div>